res/settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/settings"
	xmlns:tns="http://www.example.org/settings" elementFormDefault="qualified">

    <complexType name="settings">
    	<sequence>
    		<element name="width" type="int" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="height" type="int" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="fps" type="int" maxOccurs="1"
    			minOccurs="1">
    		</element>
    	</sequence>
    </complexType>

    <element name="settings" type="tns:settings"></element>
    
</schema>